---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="page-flex">
    <Navbar />
    <main class="main-content">
      
    </main>
    <Footer />
  </div>
</Layout>

<style>
  .page-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex: 1;
  }
</style>